body{
    text-align: center;
    font-size: 25px;
}
#outer{
    border: 1px solid black;
    height: 500px;
    width: 600px;
    margin: auto;
}  
#inner{
    border: 4px solid black;
    background-color: black;
    color: white;
    width: fit-content;
    margin:auto;
    padding-top: 2px;
}